<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CapaServicios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  
  <applicationSettings>
    <CapaServicios.Properties.Settings>
      <setting name="protocol" serializeAs="String">
        <value>ldap</value>
      </setting>
      <setting name="server" serializeAs="String">
        <value>172.17.1.1</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>389</value>
      </setting>
      <setting name="path" serializeAs="String">
        <value>DC=dominio,DC=com,DC=ec</value>
      </setting>
      <setting name="dominio" serializeAs="String">
        <value>dominio.com.ec</value>
      </setting>
      <setting name="usuario_administracion" serializeAs="String">
        <value>usuario</value>
      </setting>
      <setting name="contrasenia_administracion" serializeAs="String">
        <value>password1</value>
      </setting>
      <setting name="servidor_correo" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="usuario_correo" serializeAs="String">
        <value>carlosdarwinromero@gmail.com</value>
      </setting>
      <setting name="contrasenia_correo" serializeAs="String">
        <value>*carlos2021</value>
      </setting>
      <setting name="puerto_servidor_correo" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="correo_remitente" serializeAs="String">
        <value>cacsoporte247@gmail.com|Soporte 24-7 Soluciones TICS</value>
      </setting>
      <setting name="enable_ssl" serializeAs="String">
        <value>1</value>
      </setting>
    </CapaServicios.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
