/*Fuentes para avísalo*/
@font-face {
    font-family: 'FuturaBQ-BoldOblique';
    src: url('/fonts/FuturaBQ-BoldOblique.otf') format('opentype');
}


/*////////////////////////////////////////////
/// ESTILOS PARA EL FOOTER Y LAS TABLAS    ///
////////////////////////////////////////////*/

#Background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #F9F9F9;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 100000;
}


#Progress2 {
    position: fixed;
    top: 35%;
    left: 35%;
    height: 30%;
    width: 30%;
    z-index: 100001;
    background-color: #FFFFFF;
    /*border: 1px solid Gray;*/
    background-image: url('gif/carta2.gif');
    background-repeat: no-repeat;
    background-position: center;
}

#Progress {
    font-size: 25px;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-position-y: 50%;
    background-position-x: center;
    z-index: 100001;
    background-image: url('/Content/cdeSource/gif/043_success-mail.gif');
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

    #Progress .typewrite {
        position: relative;
        font-size: 30px;
        top: 25%;
        font-family: 'Cutive';
        text-decoration: none;
        color: #546e7a;
    }

@media screen and (max-width: 780px) {
    #Progress {
        background-size: 60%;
    }

        #Progress .typewrite {
            font-size: 25px;
        }
}

#Loader {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 100000;
    background-image: url('cdeSource/gif/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}


.footerN {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #557FAA;
    background-color: #ddd;
}

.footerTarjetas {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    /*color: #557FAA;
    background-color: #ddd;*/
}

.footerNe {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.bg-direccion {
    position: absolute;
    /*;*/
    width: 50%;
    height: 50%;
    top: 17%;
    right: 5px;
    background-image: url('cdeSource/img/Domicilio-mensaje.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-registro {
    position: absolute;
    /*;*/
    width: 40%;
    height: 40%;
    top: 20%;
    right: 10%;
    background-image: url('cdeSource/img/Registro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-preAlerta {
    position: absolute;
    /*;*/
    width: 40%;
    height: 40%;
    top: 20%;
    right: 10%;
    background-image: url('cdeSource/img/IngreseCodigo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-restablecer {
    position: absolute;
    /*;*/
    width: 40%;
    height: 40%;
    top: 20%;
    right: 10%;
    background-image: url('cdeSource/img/Restablecer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.img-tabla {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

/*------------------------------------------------------*/
/*                                                      */
/*          ESTILOS PARA EL GRID VIEW DE ASP NET        */
/*                                                      */
/*------------------------------------------------------*/

.div-formualario {
    padding: 5px 0px 5px 0px;
}

.tabla_datos {
    font-size: 12px;
}

    .tabla_datos th {
        background-color: #e5e5e5;
        font-size: 12px;
        font-weight: bolder;
        height: 50px;
        border-left-width: 2px !important;
        border-left-color: white !important;
        color: #00528E;
    }

    .tabla_datos .row-style {
        /*background-color: #F4FAFA; /*BackColor="#F4FAFA"*/
        color: #333333;
    }

    .tabla_datos .alernativedRow-style {
        background-color: #F2F2F2;
        color: #284775;
    }

    .tabla_datos td, .tabla_datos th {
        border-color: #FFFFFF;
        border-width: 2px;
        padding: 5px 7px 5px 7px;
    }

    .tabla_datos .selectedRow-style {
        background-color: #E2DED6;
        font-weight: bold;
        color: #333333;
    }

    .tabla_datos .editRow-style {
        background-color: #cccccc;
    }

    .tabla_datos .pager-style {
        background-color: #e5e5e5;
        color: #00528E;
        font-weight: bold;
        font-size: 13px;
    }

    .tabla_datos .footer-style {
        background-color: #cacaca;
        color: #333333;
    }
    /*label-grid*/
    .tabla_datos .label_grid {
        color: #2A5FAA;
        border: none;
        font-style: italic;
    }

    .tabla_datos .control_grid {
        /*color: #2A5FAA;
        border: solid 1px #007FFF;
        font-style: italic;*/
        width: 100%;
        resize: none;
    }

    .tabla_datos .img-button {
        float: right;
        padding-right: 10px;
    }

    .tabla_datos th a {
        color: #00528E;
        text-decoration: none;
    }

    .tabla_datos a {
        color: #8c8b8b;
        text-decoration: underline;
    }

    .tabla_datos .glyphicon {
        color: #00528E;
    }

.cabecera_delgada .tabla_datos th {
    height: 20px
}


.centrar_th_col_1 th:nth-child(1),
.centrar_th_col_2 th:nth-child(2),
.centrar_th_col_3 th:nth-child(3),
.centrar_th_col_4 th:nth-child(4),
.centrar_th_col_5 th:nth-child(5),
.centrar_th_col_6 th:nth-child(6),
.centrar_th_col_7 th:nth-child(7),
.centrar_th_col_8 th:nth-child(8),
.centrar_th_col_9 th:nth-child(9),
.centrar_th_col_10 th:nth-child(10),
.centrar_th_col_11 th:nth-child(11),
.centrar_th_col_12 th:nth-child(12) {
    text-align: center
}

.centrar_col_1 td:nth-child(1),
.centrar_col_2 td:nth-child(2),
.centrar_col_3 td:nth-child(3),
.centrar_col_4 td:nth-child(4),
.centrar_col_5 td:nth-child(5),
.centrar_col_6 td:nth-child(6),
.centrar_col_7 td:nth-child(7),
.centrar_col_8 td:nth-child(8),
.centrar_col_9 td:nth-child(9),
.centrar_col_10 td:nth-child(10),
.centrar_col_11 td:nth-child(11),
.centrar_col_12 td:nth-child(12) {
    text-align: center
}

.cent_col_1 .tabla_datos td:nth-child(1),
.cent_col_2 .tabla_datos td:nth-child(2),
.cent_col_3 .tabla_datos td:nth-child(3),
.cent_col_4 .tabla_datos td:nth-child(4),
.cent_col_5 .tabla_datos td:nth-child(5),
.cent_col_6 .tabla_datos td:nth-child(6),
.cent_col_7 .tabla_datos td:nth-child(7),
.cent_col_8 .tabla_datos td:nth-child(8),
.cent_col_9 .tabla_datos td:nth-child(9),
.cent_col_10 .tabla_datos td:nth-child(10),
.cent_col_11 .tabla_datos td:nth-child(11),
.cent_col_12 .tabla_datos td:nth-child(12) {
    text-align: center
}

.esc_col_1 .tabla_datos th:nth-child(1),
.esc_col_1 .tabla_datos td:nth-child(1),
.esc_col_2 .tabla_datos th:nth-child(2),
.esc_col_2 .tabla_datos td:nth-child(2),
.esc_col_3 .tabla_datos th:nth-child(3),
.esc_col_3 .tabla_datos td:nth-child(3),
.esc_col_4 .tabla_datos th:nth-child(4),
.esc_col_4 .tabla_datos td:nth-child(4),
.esc_col_5 .tabla_datos th:nth-child(5),
.esc_col_5 .tabla_datos td:nth-child(5),
.esc_col_6 .tabla_datos th:nth-child(6),
.esc_col_6 .tabla_datos td:nth-child(6),
.esc_col_7 .tabla_datos th:nth-child(7),
.esc_col_7 .tabla_datos td:nth-child(7),
.esc_col_8 .tabla_datos th:nth-child(8),
.esc_col_8 .tabla_datos td:nth-child(8),
.esc_col_9 .tabla_datos th:nth-child(9),
.esc_col_9 .tabla_datos td:nth-child(9),
.esc_col_10 .tabla_datos th:nth-child(10),
.esc_col_10 .tabla_datos td:nth-child(10),
.esc_col_11 .tabla_datos th:nth-child(11),
.esc_col_11 .tabla_datos td:nth-child(11),
.esc_col_12 .tabla_datos th:nth-child(12),
.esc_col_12 .tabla_datos td:nth-child(12) {
    display: none
}

@media (min-width: 992px) {
    .modal-xl {
        width: 90%;
    }
}

@media only screen and (max-width: 992px) {
    .tabla_datos .form-control {
        width: 150px;
    }
}

@media only screen and (min-width: 768px) {
    .tabla_datos .form-control {
        max-width: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .tabla_datos .form-control {
        max-width: 200px;
    }
}


.w-100_important {
    width: 100% !important;
}

.fila_inverse {
    background-color: #E0E0E0 !important;
    color: #4e4a4a;
}

/*//////////////////////////////////////////////////////////
///    Para hacer scroll en el cuerpo de la tabla       ///
//////////////////////////////////////////////////////////*/

.tabla-scroll tbody,
.tabla-scroll thead {
    display: block;
}


.tabla-scroll tbody {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #DDDDDD;
}

    .tabla-scroll tbody td, thead th {
        width: 20%;
    }

        .tabla-scroll tbody td:last-child, thead th:last-child {
            border-right: none;
            text-align: center !important;
        }



/*////////////////////////////////////////////
///           OTROS ESTILOS                ///
////////////////////////////////////////////*/

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 17px;
    margin: -3px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .9s;
    transition: .9s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .9s;
        transition: .9s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.pie {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #557FAA;
    background-color: #F0F0F0;
}

.btn_buscar_cedula {
    text-transform: none;
    height: 20px;
    width: 131px;
    border: 0;
    padding-left: 15px
}


.sin_borde {
    border: none
}


/*////////////////////////////////
/// PARA ESTILOS DE <hr>       ///
///////////////////////////////*/

hr.sin_margin {
    margin-left: 6%;
    margin-top: 12px;
    margin-bottom: 10px;
    width: 86%
}


hr.style1 {
    border-top: 1px solid #8c8b8b;
}


hr.style2 {
    border-top: 3px double #8c8b8b;
}

hr.style3 {
    border-top: 1px dashed #8c8b8b;
}

hr.style4 {
    border-top: 1px dotted #8c8b8b;
}

hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}


hr.style6 {
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
}

hr.style7 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}


hr.style8 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

    hr.style8:after {
        content: '';
        display: block;
        margin-top: 2px;
        border-top: 1px solid #8c8b8b;
        border-bottom: 1px solid #fff;
    }

hr.style9 {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

hr.style10 {
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
}


hr.style11 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


hr.style15 {
    border-top: 4px double #8c8b8b;
    text-align: center;
}

    hr.style15:after {
        content: '\002665';
        display: inline-block;
        position: relative;
        top: -15px;
        padding: 0 10px;
        background: #f0f0f0;
        color: #8c8b8b;
        font-size: 18px;
    }

hr.style16 {
    border-top: 1px dashed #8c8b8b;
}

    hr.style16:after {
        content: '\002702';
        display: inline-block;
        position: relative;
        top: -12px;
        left: 40px;
        padding: 0 3px;
        background: #f0f0f0;
        color: #8c8b8b;
        font-size: 18px;
    }


hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}

    hr.style17:after {
        content: '§';
        display: inline-block;
        position: relative;
        top: -14px;
        padding: 0 10px;
        background: #f0f0f0;
        color: #8c8b8b;
        font-size: 18px;
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        transform: rotate(60deg);
    }


hr.style18 {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    hr.style18:before {
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: #8c8b8b;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }


/*////////////////////////////////////
/// PARA ESTILO PERSONALIZADO BTN ///
//////////////////////////////////*/


.btn_personalizado1 {
    background-color: Transparent;
    border-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 4px;
}



/*////////////////////////////////
/// Para personalizar un combo ///
///////////////////////////////*/

.ddl_per1 {
    height: 15px;
    width: 40px;
}


/*///////////////////////////////////////
/// Para personalizar el body content ///
///////////////////////////////////// */
.content_personalizado {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px
}

/*///////////////////////////////////////
/// Para personalizar el DIV DEL GRID ///
///////////////////////////////////// */

.div-formualario1 {
    padding: 0px 0px 0px 0px;
}

.div-formualario2 {
    padding: 0PX 5% 0px 5%;
}


/*///////////////////////////////////////
/// Para personalizar el DIV DEL GRID ///
///////////////////////////////////// */

.sin_pad_izq {
    padding-left: 0;
}

/*/////////////////////////////////////////////
/// Para hacer mas pqueño al imput de texto ///
/////////////////////////////////////////// */
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}


/*/////////////////////////////////////////////
/// para cambiar el color del texto ///
/////////////////////////////////////////// */
.texto_verde {
    color: #00ff00;
}

.texto_rojo {
    color: #ff1a1a;
}

/*/////////////////////////////////////////////
/// para CONSERVAR EL TEXTO TAL COMO ESTA///
/////////////////////////////////////////// */
.text_original {
    text-transform: none;
}


/*Para que solo la primera letra esté en Mayuscula, solo funciona si el texto esta dentro de un p y este css aplicado al div que lo contiene*/
.txt-tipo-oracion {
    text-transform: lowercase;
}

    .txt-tipo-oracion:first-letter {
        text-transform: uppercase;
    }


/*/////////////////////////////////////////////
/// Para que un componente ocupe el 100%///
/////////////////////////////////////////// */
.max_width {
    max-width: 100%;
}

.max_width_40percent {
    max-width: 40%;
    height: auto;
}

.max_width_100percent {
    max-width: 100%;
    height: auto;
}


/*/////////////////////////////////////////////
/// PARA TARJETAS///
/////////////////////////////////////////// */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    border-radius: 5px;
}

    .card:hover {
        box-shadow: 0 0 6px rgba(35, 173, 255, 1);
    }

.card_contained {
    padding: 2px 16px;
}

/*///////////////////////////////////////////////////////
/// para centrar vertcalmente un vid dentro de otro    ///
////////////////////////////////////////////////////// */

.cent_vert_flex { /*para centrar la imagen verticalmente*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar_vertical_padre {
    display: table;
}

.centrar_vertical_hijo {
    display: table-cell;
    vertical-align: middle;
}

.top_5 {
    top: 15%;
    position: relative;
}

/*///////////////////////////////////////////////////////
/// para centrar el contenido de un div dentro de otro///
////////////////////////////////////////////////////// */


.centrar_externo {
    /*border: 1px solid;*/
    align-items: center;
    display: flex;
    justify-content: center;
}

/*.centrar_interno {
  border: 1px dashed goldenrod;
}*/

/*///////////////////////////////////////////////////////
/// para centrar una imagen dentro de un div///
////////////////////////////////////////////////////// */

.img_centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.img_bord_red {
    border-radius: 5px 5px 5px 5px;
}


/*/////////////////////////////////////////////
/// para alinear los textos///
///////////////////////////////////////////////*/

.texto_centrado {
    text-align: center;
}

.texto_izq {
    text-align: left;
}

.texto_derecha {
    text-align: right;
}

.texto_justificado {
    text-align: justify;
}


.margin_bottom_right {
    margin-bottom: 5px;
    margin-right: 5px
}

/*/////////////////////////////////////
/// para cambiar el tamanio///////////
/////////////////////////////////////*/

.txt10 {
    font-size: 10px
}


.txt11 {
    font-size: 11px
}


.txt12 {
    font-size: 12px
}

.txt14 {
    font-size: 14px
}

.txt16 {
    font-size: 16px
}

.txt16_bold {
    font-size: 16px;
    font-weight: 900;
}

.txt18 {
    font-size: 18px
}

.txt20 {
    font-size: 20px
}

.txt20_bold {
    font-weight: 900;
    font-size: 1.2em;
}


/*/////////////////////////////////////
/// ALERTIFY MSJ AZUL       //////////
/////////////////////////////////////*/
.ajs-message.ajs-custom {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}


/*/////////////////////////////////////
/// ESTILOS ADICIONALES PARA LAS TABLAS      //////////
/////////////////////////////////////*/
.header-style2 {
    font-weight: bold; /*Font-Bold:True;*/
    color: #00528E; /*ForeColor="White"*/
    text-transform: uppercase
}

.header-style th {
    text-align: center;
}

.header-style2 th {
    text-align: center;
}


/*///////////////////////////////////////////////////////////////////////////////////////////
/// PARA COLOCAR UNA IMAGEN RECTANGULAR A LO LARGO DEL TOP DEL POP UP SWEET ALERT
///////////////////////////////////////////////////////////////////////////////////////////*/

.img_top_popup {
    margin-top: -20px !important;
    margin-left: -20px !important;
    min-width: 600px
}

/*-------------------------------------------------------
---                                                   ---
---         ESTILOS PARA EL NAV BAR DE AVISALO        ---
---                                                   ---
-------------------------------------------------------*/

/*--------Estilos para vista del cliente--------------*/

.nav_avisalo {
    background-color: #ffffff; /*#00528E;*/
    border-color: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
}

    .nav_avisalo .img_logo {
        display: block;
    }

    .nav_avisalo .img_logo_administrador {
        display: none;
    }

    .nav_avisalo .navbar-nav > li > a {
        color: #00528E;
        /*padding: 20px;*/
        padding-left: 10px;
        padding-right: 10px;
    }

        .nav_avisalo .navbar-nav > li > a:hover,
        .nav_avisalo .navbar-nav > li > a:focus {
            color: #39eea6;
            background-color: transparent;
        }


    .nav_avisalo .navbar-toggle {
        background-color: #00528E;
    }

        .nav_avisalo .navbar-toggle:hover,
        .nav_avisalo .navbar-toggle:focus {
            background-color: #39eea6;
        }

        .nav_avisalo .navbar-toggle .icon-bar {
            background: #ffffff;
        }


    .nav_avisalo .navbar-collapse,
    .nav_avisalo .navbar-form {
        border-color: #00528E;
    }

/*--------Estilos para vista de administrador--------------*/

.nav_avisalo_administrador {
    background-color: #00528E; /*#00528E;*/
    border-color: #00528E;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
}

    .nav_avisalo_administrador .img_logo {
        display: none;
    }

    .nav_avisalo_administrador .img_logo_administrador {
        display: block;
    }

    .nav_avisalo_administrador .navbar-nav > li > a {
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
    }

        .nav_avisalo_administrador .navbar-nav > li > a:hover,
        .nav_avisalo_administrador .navbar-nav > li > a:focus {
            color: #39eea6;
            background-color: transparent;
        }


    .nav_avisalo_administrador .navbar-toggle {
        background-color: #ffffff;
    }

        .nav_avisalo_administrador .navbar-toggle .icon-bar {
            background: #00528E;
        }

        .nav_avisalo_administrador .navbar-toggle:hover,
        .nav_avisalo_administrador .navbar-toggle:focus {
            background-color: #39eea6;
        }

    .nav_avisalo_administrador .navbar-collapse, .nav_avisalo_administrador .navbar-form {
        border-color: #00528E;
    }

/*--------Estilos la imagen de acuerdo al tipo(admin/normal) y tamaño de la pantalla--------------*/

.div_img_logo_principal {
    position: relative;
    top: 5px;
    height: 50px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat
}

/*--------como administrador-----------*/
.nav_avisalo_administrador .div_img_logo_principal {
    background-image: url('/img/Img/avisalo_cde_logos_blanco.png');
}


    .nav_avisalo_administrador .div_img_logo_principal:hover {
        background-image: url('/img/Img/avisalo_cde_logos_verde.png');
    }

/*--------como cliente-----------*/
.nav_avisalo .div_img_logo_principal {
    background-image: url('/img/Img/avisalo_cde_logos.png');
}

    .nav_avisalo .div_img_logo_principal:hover {
        background-image: url('/img/Img/avisalo_cde_logos_verde.png');
    }


/*----para cambiar el tamaño del logo-----------*/
@media (min-width: 768px) and (max-width: 1200px) {
    .div_img_logo_principal {
        top: -1px;
        height: 65px;
        width: 65px;
    }

    .mostrar_bienvenido {
        display: none
    }
    /*--------como administrador-----------*/
    .nav_avisalo_administrador .navbar-nav > li > a {
        padding: 20px 10px;
    }

    .nav_avisalo_administrador .div_img_logo_principal {
        background-image: url('cdeSource/img/logo_palomita_blanco.png');
    }

        .nav_avisalo_administrador .div_img_logo_principal:hover {
            background-image: url('cdeSource/img/logo_palomita_verde.png');
        }

    /*--------como cliente-----------*/
    .nav_avisalo .navbar-nav > li > a {
        padding: 20px 7px;
    }

    .nav_avisalo .div_img_logo_principal {
        background-image: url('cdeSource/img/logo_palomita_azul.png');
    }

        .nav_avisalo .div_img_logo_principal:hover {
            background-image: url('cdeSource/img/logo_palomita_verde.png');
        }
}

/*--------para cambiar el color de la letra cuando el menú de hamburgesa esta expandido-----------*/

@media (max-width: 768px) {

    .nav_avisalo_administrador .dropdown-menu > li > a {
        color: #ffffff;
    }

        .nav_avisalo_administrador .dropdown-menu > li > a:hover {
            color: #00528E;
        }

    .nav_avisalo .dropdown-menu > li > a {
        color: #00528E;
    }
}


/*------------------------------------------------------*/
/*                                                      */
/*   Fondos para los div de intro de la página inicial  */
/*                                                       */
/*------------------------------------------------------*/

.hw100 {
    height: 100%;
    width: 100%
}

#div_principal {
    background-image: url('cdeSource/img/fondo_marca_agua.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imagen_header_intro {
    background-image: url('cdeSource/img/fondo_principal_avisalo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 12vh;
}

#div_intro_izq {
    height: 95vh;
    background-size: auto 100%;
}

#div_intro_der {
    min-height: 95vh;
}

div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}

#div_interior_der {
    padding-top: 3%;
}

/*Para ocultar la vista del div izq en pantallas menores a 769px*/

.carousel-inner img { /*Para hacer responsive a la imagen*/
    width: 100%;
    max-width: 700px;
    height: auto;
    max-height: 100%;
}


@media only screen and (max-width: 769px) {

    #div_intro_izq {
        /*display: none;*/
        padding-top: 0;
        height: auto;
    }

    #div_interior_der {
        padding-top: 0;
    }

    .al_pie {
        display: none;
    }

    .carousel-inner img { /*Para hacer responsive a la imagen*/
        max-height: 60vh !important;
        width: auto !important;
        max-width: 100% !important;
    }
}

/*Para cambiar el tamaño de los controles en pantallas hasta 990px*/
@media only screen and (max-width: 990px) {
    #apellido1 {
        margin-top: 20px
    }

    #txt_email {
        margin-top: 20px
    }

    #Password {
        margin-top: 20px
    }

    #btn_registrar {
        margin-top: 20px
    }

    #txt_info {
        font-size: 100%
    }

    #txt_info2 {
        font-size: 100%
    }
}

.btn-azul-avisalo {
    background: #00528E;
    color: #ffffff;
    width: 100%;
}

.fondo-azul-faq {
    background: #cccccc !important;
    color: #00528E !important;
    font-weight: bold;
    text-align: justify;
}

.btn-azul-avisalo:hover {
    color: #00528E;
    background: transparent;
    border-color: #00528E;
}

.btn-azul-avisalo:active {
    color: #fffff7a;
}

.btn-danger-inverse {
    color: #d43f3a;
    background-color: #fff;
    border: 2px solid #d43f3a;
}


.no_mrg_top_bottom {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.logo_avisalo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 60%;
    max-height: 800px;
    border-radius: 10px;
    margin-top: 10px;
}

@media screen and (max-height: 700px) {
    .logo_avisalo {
        max-width: 30%;
    }
}

.label_auxiliar {
    color: #a8a8a8;
    font-size: 0.8em
}

.titulo_grande {
    font-weight: bold
}

.form_sin_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.sobre_container_sin_bordes {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    width: 100% !important;
    /*height: 100vh !important;*/
}


#txt_codigo:focus {
    border-color: #ba1d12 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68, 66, 66,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68, 66, 66,.6) !important;
}


.llamar_atencion {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    padding: 0%;
    font-size: 5em;
    animation-iteration-count: 5;
}

    .llamar_atencion a {
        color: #00528E;
    }

.al_pie {
    position: absolute;
    bottom: 0;
    margin-left: 50%
}

.llamar_atencion:hover {
    animation: bounce_5247 1.6s ease infinite;
    transform-origin: 50% 50%;
    border-color: #00528E;
}

.llamar_atencion a :hover {
    color: #42f4dc;
}

@keyframes bounce_5247 {
    0% {
        transform: translateY(0)
    }

    12.5% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-15px)
    }

    62.5% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(-15px)
    }

    100% {
        transform: translateY(0)
    }
}

.fondo_traslucido {
    position: absolute;
    height: 100vh !important;
    width: 100vh !important;
    background: #000000;
    opacity: 0.7
}

.fondo_traslucido_componente {
    height: 100% !important;
    width: 100% !important;
    background: #000000;
    opacity: 0.7
}

.heredar_tamaño {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    color: #FFFFFF;
    font-weight: bold
}

.fondo_traslucido_componente2 {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #162948;
    opacity: 0.7;
}

.componente_landing {
    width: 100%;
    height: 100%
}

.footer_oscuro {
    width: 100%;
    background: #333131;
    height: 100%
}

.texto_terminos_condiciones {
    padding: 5% 1% 5% 1%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.parallax {
    background-image: url('');
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    height: 100%
}

.container_imagen_instrucciones {
    width: 100%;
    height: 100% !important;
    align-content: center;
    align-items: center;
    align-self: center
}

.alineacion_top {
    top: 10%;
    margin-top: 3.5%;
    margin-bottom: 3.5%
}


/*Para dar estilos de CARDS*/

.card {
    margin-top: 15px;
    background: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
}

    .card:hover {
        box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
    }

.container_card {
    padding: 2px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #00528e;
}

/*------------------------------------------------------*/
/*   ESTILOS Y MEDIAS PARA LA DISTRIBUCIÓN DE LOS PASOS */
/*     (PASOS DE LA PÁGINA PRINCIPAL)                  */
/*------------------------------------------------------*/

@media (min-width: 420px) {
    .div_instructivo {
        width: 50%;
        float: left;
    }

    .alineacion_bottom {
        position: static;
    }

    #div_paso_5 {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 612px) {
    .div_instructivo {
        width: 50%;
        float: left;
    }

    .alineacion_bottom {
        position: static;
    }

    #div_paso_4, #div_paso_5 {
        height: auto;
        width: 50%;
    }
}

@media (min-width: 829px) {
    .div_instructivo {
        width: 25%;
        float: left;
        height: 500px;
    }

    .alineacion_bottom {
        position: absolute;
        bottom: 0
    }

    .h_500 {
        position: relative;
        height: 500px;
    }

    #div_paso_4 {
        height: auto;
        width: 25%;
    }

    #div_paso_5 {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1082px) {
    .div_instructivo {
        width: 25% !important;
        height: 500px !important;
        float: left;
    }

    .alineacion_bottom {
        position: absolute;
        bottom: 0
    }

    .h_500 {
        position: relative;
        height: 500px;
    }
}

.div_instructivo p {
    padding: 10px;
}


.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}


#div_alert_caja_flotante {
    text-align: justify;
    padding: 10px !important;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    position: relative;
}

.caja_flotante {
    max-width: 120px;
    position: absolute;
    top: -35px;
    right: -30px;
}


/*------------------------------------------------------*/
/*                                                      */
/*  Estilos para crear el FOOTER de la página principal */
/*                                                       */
/*------------------------------------------------------*/
.texto_footer {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center
}

.link_footer {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center
}

    .link_footer:hover {
        color: #9d9fa5;
        font-weight: bold;
        text-align: center
    }

    .link_footer:visited {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center
    }

    .link_footer:active {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center
    }

    .link_footer:link {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center
    }

.label_auxiliar_footer {
    color: #a8a8a8 !important;
    font-weight: normal !important;
}

.container_redes_sociales {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify
}

@media screen and (max-width: 780px) {
    #titulo_instrucciones {
        font-size: 24px
    }
}

@media screen and (max-width: 500px) {
    #titulo_instrucciones {
        font-size: 16px
    }
}

.centrar_instructivo {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 5%
}

/*------------------------------------------------------*/
/*                                                      */
/*   PARA IMPLEMENTAR LA ANIMACIÓN DE LLAMAR LA ATENCION */
/*                                                       */
/*------------------------------------------------------*/

.float_0s {
    animation: float_3706 3s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes float_3706 {
    0% {
        transform: translate(0,0)
    }


    50% {
        transform: translate(0,-10px)
    }



    100% {
        transform: translate(0,0)
    }
}

.double-flash_4s {
    animation: double-flash_9419 6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes double-flash_9419 {
    0% {
        opacity: 1
    }

    8.33333% {
        opacity: 0
    }

    16.66667% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    33.33333% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

.shake_3s {
    animation: shake_9192 4.875s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes shake_9192 {
    0% {
        transform: rotate(-12deg)
    }

    4.10257% {
        transform: rotate(12deg)
    }

    5.1282% {
        transform: rotate(24deg)
    }

    9.23077% {
        transform: rotate(-24deg)
    }

    10.25641% {
        transform: rotate(-24deg)
    }

    14.35897% {
        transform: rotate(24deg)
    }

    15.38462% {
        transform: rotate(24deg)
    }

    19.48718% {
        transform: rotate(-24deg)
    }

    20.51282% {
        transform: rotate(-24deg)
    }

    24.61538% {
        transform: rotate(24deg)
    }

    25.64103% {
        transform: rotate(24deg)
    }

    29.74359% {
        transform: rotate(-24deg)
    }

    30.76923% {
        transform: rotate(-24deg)
    }

    34.8718% {
        transform: rotate(24deg)
    }

    38.46154% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.bounce_3s {
    animation: bounce_6100 4.6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce_6100 {
    0% {
        transform: translateY(0)
    }

    4.34783% {
        transform: translateY(0)
    }

    8.69565% {
        transform: translateY(0)
    }

    17.3913% {
        transform: translateY(-15px)
    }

    21.73913% {
        transform: translateY(0)
    }

    26.08696% {
        transform: translateY(-15px)
    }

    34.78261% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(0)
    }
}

.horizontal_3s {
    animation: horizontal_3384 3.72s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes horizontal_3384 {
    0% {
        transform: translate(0,0)
    }

    3.22581% {
        transform: translate(5px,0)
    }

    6.45161% {
        transform: translate(0,0)
    }

    9.67742% {
        transform: translate(5px,0)
    }

    12.90323% {
        transform: translate(0,0)
    }

    16.12903% {
        transform: translate(5px,0)
    }

    19.35484% {
        transform: translate(0,0)
    }

    100% {
        transform: translate(0,0)
    }
}


/*------------------------------------------------------*/
/*                                                      */
/*   PARA CREAR UN ALERT AZUL CON LETRAS BLANCAS*/
/*                                                       */
/*------------------------------------------------------*/

.alert-azul {
    color: #ffffff;
    background: #00528E;
    border-color: #00528E;
}


/*------------------------------------------------------*/
/*                                                      */
/*   ESTILOS CREAR ADDONS (TEXTBOX+BOTONES) JUNTOS     */
/*                                                      */
/*------------------------------------------------------*/
/*https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ */
/*https://www.cssmatic.com/border-radius */

.AddOn_externo {
    display: flex;
}

.AddOn-field {
    flex: 1;
    /* field styles */
}


.borde_izq_recto { /*
                       sup der, sup iz, inf iz, inf der
                   */
    -webkit-border-radius: 0px 3px 3px 0px;
}

.borde_der_recto {
    -webkit-border-radius: 3px 0px 0px 3px;
}

.borde_supr_recto {
    -webkit-border-radius: 0px 0px 3px 3px;
}

.borde_3 {
    -webkit-border-radius: 3px 3px 3px 3px;
}

/*------------------------------------------------------*/
/*                                                      */
/*          MARGIN ESPECÍFICOS                          */
/*                                                      */
/*------------------------------------------------------*/

.mrg-top-5 {
    margin-top: 5px;
}

.mrg-top-15 {
    margin-top: 20px;
}

.mrg-top-20 {
    margin-top: 20px;
}

.mrg-top-10 {
    margin-top: 10px;
}

.mrg-top-0 {
    margin-top: 0px;
}

.mrg-botton-0 {
    margin-bottom: 0px !important;
}

.mrg-botton-5 {
    margin-bottom: 5px;
}

.mrg-botton-15 {
    margin-bottom: 15px;
}

.solo_mrg_top_botom-5 {
    margin: 5px 0 5px 0;
}

.mrg-right-0 {
    margin-right: 0;
}

.solo_mrg_bottom-10 {
    margin: 0 0 10px 0;
}

.mrg_0 {
    margin: 0 0 0 0;
}

.max_900 {
    max-width: 900px
}


/*------------------------------------------------------*/
/*                                                      */
/*          PADDING ESPECÍFICOS                          */
/*                                                      */
/*------------------------------------------------------*/


.no_padding {
    padding: 0 0 0 0;
}

.no_padding_izq {
    padding-left: 0;
}

.no_padding_der {
    padding-right: 0;
}

.no_padding_izq {
    padding-left: 0;
}

.pdg-botton-10 {
    padding-bottom: 10px;
}

.pdg-botton-15 {
    padding-bottom: 15px;
}

.pdg-botton-0 {
    padding-bottom: 0px;
}

.pdg-top-15 {
    padding-top: 15px;
}

.pdg-top-0 {
    padding-top: 0px;
}

.pdg-der-15 {
    padding-right: 15px;
}

.pdg-izq-15 {
    padding-left: 15px;
}

/*------------------------------------------------------*/
/*                                                      */
/*  Par que el check se mas grande                      */
/*                                                      */
/*------------------------------------------------------*/

.big_check td input {
    width: 20px;
    height: 20px;
}


.big_check_30 input {
    width: 30px;
    height: 30px;
}


.big_check_50 input {
    width: 50px;
    height: 50px;
}




@media screen and (min-width: 500px) {
    #div_aceptar_terminos {
        float: left;
        width: 90px;
    }

    #div_aceptar_terminos {
        padding-left: 20px;
    }
}

@media screen and (max-width: 499px) {
    #div_aceptar_terminos {
        width: 60px;
        float: left;
    }

    #div_aceptar_terminos {
        padding-left: 5px;
    }
}

/*--------------------------------------------------------------*/
/*                                                              */
/*  Para ubicar al boton de cerrar del modal en la esquina      */
/*                                                              */
/*--------------------------------------------------------------*/

.modal-header .close {
    margin: 0;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    background-color: #00aeef;
    color: #ffe300;
    font-size: 9px;
    opacity: 1;
    z-index: 10;
}


/*--------------------------------------------------------------*/
/*                                                              */
/*              ESTILOS EL POPUP DE SWEET ALERT 2               */
/*                                                              */
/*--------------------------------------------------------------*/

.swal2-popup { /*Para que se vea mas grande*/
    font-size: 1.6rem !important;
}

/*--------------------------------------------------------------*/
/*                                                              */
/*              PARA DAR ESTILOS AL SCROLL                      */
/*                                                              */
/*--------------------------------------------------------------*/

.scroll_200 {
    height: 200px;
    overflow-y: scroll;
}

.scroll_70V {
    height: 70vh;
    overflow-y: scroll;
}

.div_scroll::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    /*display: none;*/ /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.div_scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

    /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
    .div_scroll::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* Cambiamos el fondo cuando esté en active */
    .div_scroll::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.div_scroll::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

    /* Cambiamos el fondo cuando esté en active o hover */
    .div_scroll::-webkit-scrollbar-track:hover,
    .div_scroll::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }

/*--------------------------------------------------------------*/
/*                                                              */
/*              Para crear el estilo del btn pill               */
/*                                                              */
/*--------------------------------------------------------------*/

/*Para que aparezca el borde de los nav-pills que no estan seleccionados*/
.nav-pills > li > a {
    border-style: solid;
    border-color: #337AB7 !important;
    border-width: 2px;
}

.btn-pill {
    padding: 10px 15px;
    border-style: solid;
    border-color: #337AB7;
    border-width: 2px;
    background-color: #fff;
    border-radius: 4px;
}

.pill-unselect {
    color: #337AB7;
}

    .pill-unselect:hover {
        background-color: #eee;
    }

.pill-select {
    background-color: #337AB7;
    color: #fff !important;
}

    .pill-select:hover {
        background-color: #74aad8;
        border-color: #74aad8;
    }

/*Alinear verticalmente el contenido de las celdas en una tabla*/

.tabla_centrar_vertical td > * {
    vertical-align: middle;
}

.btn32_flotante_der {
    position: absolute;
    right: -44px;
    top: 0px;
    padding: 5px;
}

.pos_relative {
    position: relative;
}

/*----------------------------------------
  Estilo para dar sagria a los tag <a>
------------------------------------------*/

.a_sangria_40 {
    padding-left: 40px;
}


/*----------------------------------------------------------*/
/*                                                          */
/*     Para estilos del carrousel principal                 */
/*                                                          */
/*----------------------------------------------------------*/

.transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #00528E;
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}

.indicadores_contraste {
    bottom: 0px;
    margin-bottom: 0;
}

    .indicadores_contraste li {
        border: 2px solid #00528e;
        background: #FFF;
        width: 60px;
        border-radius: 3px;
    }

    .indicadores_contraste .active {
        background: #00528e;
        border: 2px solid #fff !important;
        width: 60px;
    }

.display_none {
    display: none
}

.size_0 {
    height: 0;
    width: 0;
}

.ph-card-header {
    color: white !important;
    background-color: navy !important;
}

.ph-card-body {
    background-color: white !important;
}

.nav_shadow01 {
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
}