/*---------ESTILO PARA LA PANTALLA DE LOGIN-------------*/
.login-background {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/29nhJr.png');
    background-position: center;
    background-repeat: no-repeat;
    left: 0px;
}


body {
	padding-top: 0%;
	/*The below background is just to add some color, you can set this to anything*/
	background-color:darkblue;
    
}

.login-form {
	width: 390px;
}

.login-title {
	font-family: 'Exo', sans-serif;
	text-align: center;
	color: black;
}

.login-userinput {
	margin-bottom: 10px;
}

.login-button {
	margin-top: 10px;
}

.login-options {
	margin-bottom: 0px;
}

.login-forgot {
	float: right;
}
